{block content}

<a n:href="random!" class="ajax">Snippet test</a>
{snippet random}
    {ifset $random} {$random} {/ifset}
{/snippet}

{control grid2}

<a n:href="edit" class="btn btn-success" modal>Add user</a>
<a n:href="test">Test</a>
<a n:href="test" modal>Test modal</a>

<hr>

{control dashBoard}