{block content}

<a n:href="random!" class="ajax">aaa</a>
{snippet random}
{ifset $random} {$random} {/ifset}
{/snippet}

{control grid2}
{control form}
<img src="/">

<a n:href="test">Test</a>
<a n:href="test" modal>Test modal</a>
