admin:
	skin: blue
	cssFiles:
		custom:
			- %appDir%/../assets/custom.css
			- %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.css
	jsFiles:
		custom:
			- %appDir%/../assets/live-form-validation.js
			- %appDir%/../assets/custom.js
			- %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.js
	menu:
		-
			name: "Home"
			link: "Admin:"
			icon: "fa-files-o"
			resource: ""
			privilege: ""
			role: ""
			items:
			    -
			        name: "Edit"
			        link: "Admin:edit"
			        icon: "fa-pencil"
			        show: false
		-
			name: "Tree menu"
			icon: "fa-pie-chart"
			items:
				-
					name: Slow component
					link: "Admin:slow"
					icon: fa-trip
				-
					name: Sub tree
					link: "Admin:subTree"
					icon: fa-trip
					items:
					    -
					        name: Level 3 item
					        link: "Admin:level3"
					        icon: asdad
