admin:
	cssFiles:
		custom:
			- %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.css
	jsFiles:
		custom:
			- %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.js
	menu:
		-
			name: "Domu"
			link: "Admin:"
			icon: "fa-files-o"
			resource: ""
			privilege: ""
			role: ""
		-
			name: "Dvaaa"
			icon: "fa-pie-chart"
			items:
				-
					name: tri
					link: "Admin:boo"
					icon: fa-trip
				-
					name: ctyri
					link: "Admin:foo"
					icon: fa-trip
					items:
					    -
					        name: ctyri
					        link: "Admin:goo"
					        icon: asdad
