admin:
	skin: blue
	cssFiles:
		custom:
			- %appDir%/../assets/custom.css
			- %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.css
	jsFiles:
		custom:
			- %appDir%/../assets/live-form-validation.js
			- %appDir%/../assets/custom.js
			- %appDir%/../vendor/ublaboo/datagrid/assets/datagrid.js
	menu:
		-
			name: "Domu"
			link: "Admin:"
			icon: "fa-files-o"
			resource: ""
			privilege: ""
			role: ""
			items:
			    -
			        name: "Editace"
			        link: "Admin:edit"
			        icon: "fa-pencil"
			        show: false
		-
			name: "Dvaaa"
			icon: "fa-pie-chart"
			items:
				-
					name: tri
					link: "Admin:boo"
					icon: fa-trip
				-
					name: ctyri
					link: "Admin:foo"
					icon: fa-trip
					items:
					    -
					        name: pet
					        link: "Admin:goo"
					        icon: asdad
